Mean-shift-tracking/vot2014
Mean-shift-tracking/mountain_data
Correlation-filter-tracking/workspace
Correlation-filter-tracking/toolkit-dir/
Correlation-filter-tracking/workspace-dir
Correlation-filter-tracking/__pycache__/